.login-page {
  display: flex;
  height: 100vh;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #fefefe;
}

.login-left {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

.login-form {
  width: 100%;
  max-width: 400px;
}

.login-form h2 {
  font-size: 28px;
  margin-bottom: 2rem;
  color: #000;
}

.login-form label {
  display: block;
  margin-bottom: 0.4rem;
  font-weight: bold;
  color: #111;
}

.login-form input {
  width: 100%;
  padding: 0.9rem;
  margin-bottom: 1.5rem;
  border-radius: 12px;
  border: 1px solid #ccc;
  background-color: #bde3f3;
  font-size: 16px;
  outline: none;
}

.login-form button {
  width: 100%;
  padding: 0.9rem;
  border: none;
  border-radius: 12px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s;
}

.login-form button:hover {
  background-color: #005dc5;
}

.login-texto {
  font-size: 12px;
  margin-top: 0.8rem;
  color: #666;
}

.link-registrar {
  display: inline-block;
  margin-top: 1rem;
  color: #1a73e8;
  font-weight: bold;
  text-decoration: none;
}

.link-registrar:hover {
  text-decoration: underline;
}

.login-right {
  flex: 1;
  background-color: #f9f9f9;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.logo-sapi {
  max-width: 70%;
  height: auto;
}
